---
layout: default
---
<aside id="sidebar">
{% for category in site.categories %}
<p>
	{{ category | first }}
</p>
{% endfor %}
</aside>
<div class="page-content">

  <h1 class="page-heading">小文们</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
	<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
	<article class="post-content">
        {{ post.excerpt }}
        </article>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
